.top-right-image {
    position: fixed;
    top: 30px; 
    left: 25px; 
    z-index: 1000; 
    /* border-radius: 50%; */
    background-size:cover;
    overflow: hidden; 
   /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  */
}
  
.top-right-image img {
    display: flex;
    max-width: 98%; 
    max-height: 99%; 
    object-fit: contain; 
  }
  